*{
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
:root{
  letter-spacing: 0.1em;
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;

  /* text color */
  --text-primary:#1B1B1B;
  --text-secondary:#333333;
  --text-tertiary:#696969;
  --text-headline:#E1624F;
  /* text size */
  --h1:3.6rem;
  --h2:3.2rem;
  --h3:2.8rem;
  /* accent */
  --blue:#0C51A7;
  --orange:#E95E10;
  --pink:#E5245E;
  --purple:#591B98;


}
body{
  font-size: 1.6rem;
  background-color:#F5F4F0;
  margin-bottom: 4.8rem;
}
#page{
  width: 112rem;
  margin: 8.8rem auto 6.5rem;
}
img{
  border-radius: 2.8rem;
}
.subtitles{
  color: var(--text-headline);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0.8rem;

}
header h1{
  color: var(--text-primary);
  font-size: var(--h1);
  margin-bottom: 4.4rem;
}

header img + p{
  font-style: italic; 
  color: var(--text-secondary);
  text-align: center;
  text-transform: none;
  margin:2.4rem 0 4rem;
  font-weight: 400;
}
.line{
  border: 1px solid #D9D9D9;
  margin-bottom: 6.4rem;
}

main article h2 + p{
  color: var(--text-secondary);
  margin:0.8rem 0 6.4rem;

}
main article h2{
  font-size: var(--h2);
}

section .sinopse{
  margin: 2rem 0 4.8rem;  
}

section .sinopse h3{
  color:var(--text-primary);
  font-size: var(--h3);

}

section .sinopse p:nth-child(2){
  color:var(--text-secondary);
  margin-top: 0.4rem;
}

section .sinopse p:nth-child(3){
  color:var(--text-secondary);
  font-weight: 700;
  margin-top: 2rem;

}
.blue{
  color: var(--blue);
}
#purble{
  color: var(--purple);
}
#pink{
  color: var(--pink);
}
#orange{
  color: var(--orange);
}

aside p{
  color: var(--text-secondary);
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

footer{
  text-align: center;
  margin-top: 6.5rem;
  font-family: "Alice", sans-serif;
  color: var(--text-tertiary);
}


